<mat-toolbar color="primary" class="web-toolbar-fixed">
  <mat-toolbar-row>
    <span class="web-toolbar-title">GRA GAMES CLUB</span>
    <div class="web-hide-small">
      <a mat-button href="#about">About</a>
      <a mat-button href="#events">Events</a>
      <a mat-button href="#contacts">Contacts</a>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="web-show-small">
    <a mat-button href="#about">About</a>
    <a mat-button href="#events">Events</a>
    <a mat-button href="#contacts">Contacts</a>
  </mat-toolbar-row>
</mat-toolbar>
