// https://material.angular.io/guide/theming-your-components

$web-toolbar-height-desktop: 64px !default;
$web-toolbar-height-mobile: 56px !default;
$web-toolbar-row-padding: 16px !default;

$web-toolbar-title-padding: 16px !default;

.web-toolbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;  // 2
}

.web-toolbar-title {
  margin: 0 $web-toolbar-title-padding 0 $web-toolbar-title-padding;
}

.web-toolbar-icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

* {
  color: white;
}

.web-show-small {
  display: none;
}

@media (max-width: 720px) {
  .web-hide-small {
    display: none;
  }

  .web-show-small {
    display: block;
  }
}
