$mat-lime: (
  50 : #e4f5f5,
  100 : #bde5e6,
  200 : #91d4d6,
  300 : #64c3c5,
  400 : #43b6b8,
  500 : #22a9ac,
  600 : #1ea2a5,
  700 : #19989b,
  800 : #148f92,
  900 : #0c7e82,
  A100 : #b3fcff,
  A200 : #80faff,
  A400 : #4df9ff,
  A700 : #33f8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
